*{
    font-family:Verdana, Geneva, Tahoma, sans-serif  ;
    background-color: cadetblue;
}
h3{
    color: blueviolet;
}
h1{
    color:#b92b27;
}
#login{
    background-color: rgba(73, 20, 3, 0.579);
}
#signup{
    background-color: crimson;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.upvote{
    color: chartreuse;
}












