*{
    font-family:Verdana, Geneva, Tahoma, sans-serif  ;
    background-color: cadetblue;
}
h3{
    color: blueviolet;
}
h1{
    color:#b92b27;
}
#login{
    background-color: rgba(73, 20, 3, 0.579);
}
#signup{
    background-color: crimson;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.upvote{
    color: chartreuse;
}


p a{
    color: purple;
}

p+h3{
    text-decoration: underline;
}

div>input{
    background-color:darkgreen;
}

input[type="text"]{
    color:red
}

input[type="password"]{
    color: blue;
}

button:hover{
    background-color: black;
    color:green
}

button:active{
    background-color: pink;
}


